@import url("https://fonts.googleapis.com/css2?family=Inter&family=Oswald");
:root {
    --primary-color:#114359;
    --secondary-color:#248FBC;
    --accent1-color:#b0c5c6;
    --accent2-color:#F9CB08;  
    
    --heading-font: "Oswald", sans-serif;
    --paragraph-font:"Inter", sans-serif;

    --nav-background-color: #114359;
    --nav-link-color: white;
    --nav-hover-color:#F9CB08;
    --nav-hover-background-color:#114359;

}

body {
    font-family: var(--paragraph-font);
    max-width: 2000px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    margin:1rem auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    padding: 20px 60px 20px 20px;
    background-color: white;
    box-shadow: 0 0 30px gray;
    max-width:3000px;

}
header img {
    display:block;
    width: 90%;
    height:auto;
}
p {
    padding:25px;
    color: var( --primary-color);
}
.hero img {
    display: block;
    width:100%;
    height:auto;
}
h1, p {
    position: relative;
    text-align: 8px;
}

article img {
    position:relative;
    float:right;
    width:10px;
    height:auto;

}
nav {
    text-align:right;
    font-weight: 700;
    
}
.navigation {
    display: flex;
    list-style: none;
}
.navigation li {
    flex: 1rem;
}
.navigation a {
    display: block;

}
.history {
    margin: 1rem auto;
    background-color: var(--accent1-color);
    padding: 10px 30px;
}
.history h2 {
    font-size: 40px;
    text-align: center;
    padding: 5px; 
}
.adventure section{
    display:flex;
    align-items: center;
}
.adventure h2 {
    font-size: 40px;
    text-align: center;
    padding: 5px;
}
.adventure img{
    margin: 1rem auto;
    width: 30%;
    height: auto;
}
footer{
    margin-top: 15px;
    border-top: 3px solid var(--primary-color);
    text-align:left;
    max-width:3000px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
footer img {
    width:50px;
    height: 50px;   
}
