@import url("https://fonts.googleapis..com/css2?family=Inter&family=Oswald");
:root {
    --primary-color:#114359;
    --secondary-color:#248FBC;
    --accent1-color:#9BBFBF;
    --accent2-color:#C98F69;
    --accent3-color:#F9CB08;  

}