@import url("https://fonts.googleapis..com/css2?family=Inter&family=Oswald");
:root {
    --primary-color:#114359;
    --secondary-color:#248FBC;
    --accent1-color:#9BBFBF;
    --accent2-color:#C98F69;  
    --accent3-color: #F9CB08;
    
    --heading-font: "Oswald", sans-serif;
    --paragraph-font:"Inter", sans-serif;

    --nav-background-color: #114359;
    --nav-link-color: white;
    --nav-hover-color:#F9CB08;
    --nav-hover-background-color:#114359;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding:25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration:none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-color);
    background-color: var(--nav-hover-background-color);
}